@keyframes primary-hover {
  0% {background-color: $primary}
  100% {background-color: darken($primary, 8%)}

}
.btn {
  display: inline-block;
  padding: .75rem;
  border: 1px solid transparent;
  border-radius: 3px;
  text-align: center;
  transition: all .3s ease-in-out;

  .fa {
    position: relative;
  }

  &:focus,
  &:hover {
    color: $white;
  }
}

.btn-block {
  display: block;
}


.btn-lg {
  padding: 1.25rem;
}

.btn-primary {
  background-color: $primary;
  color: $white;

  &:focus,
  &:hover {
    background-color: darken($primary, 8%);
  }
}

.btn-alert {
  background-color: $alert;
  color: $white;
}