/// 
/// Containers
///

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media(min-width: $breakpoint-sm) {
    max-width: 528px;
  }

  @media(min-width: $breakpoint-md) {
    max-width: 728px;
  }

  @media(min-width: $breakpoint-lg) {
    max-width: 928px;
  }

  @media(min-width: $breakpoint-xl) {
    max-width: 1140px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}